body {
  margin: 0;
  padding-top: 100px;
  background-color: rgb(37, 19, 19);
}

.gameplay-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.move-icon {
  height: 150px;
  justify-content: center;
}

.move-button {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 3px solid white;
  background-color: transparent;
  margin-right: 40px;
  cursor: pointer;
}

.scoreboard-header{
  margin-top: 100px;
}

.scoreboard-title{
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
  font-size: 40px;
}

.user-computer-boxes{
  margin-right: 40px;
}

.score-boxes{
  display: flex;
  justify-content: center;
}

.user-box {
  margin-top: 40px;
  margin-right: 40px;
  background-color: antiquewhite;
  border: 3px solid white;
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

.computer-box {
  margin-top: 40px;
  margin-left: 40px;
  background-color: antiquewhite;
  border: 3px solid white;
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

p {
  padding-bottom: 20px;
  color: rgb(37, 19, 19);
  display: flex;
  font-size: 200px;
  justify-content: center;
}